@import '../../palette.scss';

.tile {
  position: relative;

  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  
  padding: 1rem;
  width: 100%;
  height: 100%;

  &.white {
    background: $white;
  }

  &.red {
    background: $red;
  }

  &.green {
    background: $green;
  }

  &.blue {
    background: $blue;
  }

  &.orange {
    background: $orange;
  }

  &.purple {
    background: $purple;
  }
}