@import '../../palette.scss';

.tile {
  position: relative;

  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  
  padding: 1rem;

  &.white {
    background: $white;
  }

  &.red {
    background: $red;
  }

  &.orange {
    background: $orange;
  }

  &.yellow {
    background: $yellow;
  }

  &.green {
    background: $green;
  }

  &.blue {
    background: $dblue;
  }

  &.purple {
    background: $purple;
  }

  &.whiteText {
    color: $white;
  }

  &.blackText {
    color: $black;
  }
}