@import './palette.scss';

html {
  background: $black;
}

body {
  position: absolute;
  width: 320px !important;
  height: 240px !important;
  color: $white;
}

.app {
  position: absolute;
  width: 100%;
  height: 100%;

  background: $black;
}