// https://lospec.com/palette-list/zughy-32

$white: #dff6f5;
$black: #302c2e;

$lgrey: #a0938e;
$grey: #7d7071;
$dgrey: #5a5353;

$dred: #a93b3b;
$red: #e6482e;

$orange: #f47e1b;
$yellow: #f4b41b;

$lgreen: #b6d53c;
$green: #71aa34;
$dgreen: #397b44;

$vlblue: #dff6f5;
$lblue: #8aebf1;
$blue: #28ccdf;
$dblue: #3978a8;
$vdblue: #394778;

$purple: #8e478c;
$pink: #cd6093;